*{
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background: url(./img/bg-pattern2-low.png) #7D8CC4;
    background-size: 40rem;
    font-family: vazir;
    overflow-x: hidden;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    max-height: 100vh;
}

.change_bg{
    background: url(./img/bg-pattern2-low.png) #312E81;
    background-size: 40rem;
}

.container{
    margin: 2rem;
}


.input_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.inputs{
    height: 3.2rem;
    border: 2px solid #BEE7E8;
    box-shadow: 0 0 5px #594157;
    border-radius: .75rem;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    -ms-border-radius: .75rem;
    -o-border-radius: .75rem;
    padding: 0 1rem;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    font-family: vazir;
}

.inputs:focus,
.inputs:focus-within{
    box-shadow: 0 0 0 3px #A5B4FC;
    transform: scaleX(1.05);
    -webkit-transform: scaleX(1.05);
    -moz-transform: scaleX(1.05);
    -ms-transform: scaleX(1.05);
    -o-transform: scaleX(1.05);
}

.strat_btn{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.strat_btn a{
    background-color: #312E81;
    color: #fffcee;
    padding: 1rem 4rem;
    font-family: lalezar;
    font-size: 1.25rem;
    border-radius: .75rem;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    -ms-border-radius: .75rem;
    -o-border-radius: .75rem;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    border: .15rem solid #161b33;
}

.strat_btn a:hover  {
    background-color: #4F46E5;
    color: #fffcee;
}

.strat_btn a:focus{
    box-shadow: 0 0 0 3px #A5B4FC;
}

.timer,
.timer2,
.timer3{
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

.next_pre_btn{
    justify-content: space-around;
    padding-bottom: 3rem;
}

.next_pre_btn a:nth-child(1){
    background-color: #60A5FA;
    color: #161b33;
}

.next_pre_btn a:nth-child(2){
    background-color: #7F1D1D;
}

.sec, .min,
.sec2, .min2,
.sec3, .min3{
    padding: 2.5rem;
    margin-top: 5rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .3);
    color: #fffcee;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    font-family: Poppins;
}


.container2, .container3{
    position: absolute;
    top: 31px;
    width: 100%;
    margin-top: 0;
    padding: 0 5rem;
}

.container2{
    background: url(./img/bg-pattern2-low.png) #312E81;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    background-size: 40rem;
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
    -moz-transition: transform 500ms ease;
    -ms-transition: transform 500ms ease;
    -o-transition: transform 500ms ease;
}

.container3{
    background: url(./img/bg-pattern2-low.png) #365314;
    background-size: 40rem;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
    -moz-transition: transform 500ms ease;
    -ms-transition: transform 500ms ease;
    -o-transition: transform 500ms ease;
}

.change_bg2{
    background: url(./img/bg-pattern2-low.png) #365314 !important;
    background-size: 40rem !important;
}

.third{
    padding-bottom: 10rem;
}

.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.close{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.go_out{
    transform: translatex(-1000%);
    -webkit-transform: translatex(-1000%);
    -moz-transform: translatex(-1000%);
    -ms-transform: translatex(-1000%);
    -o-transform: translatex(-1000%);
}

.go_up{
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
}

.go_up2{
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
}

